@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
	width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}


/* COMMON */
.downloads {
  display: flex;
  justify-content: center;
}
.downloads .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  text-transform: uppercase;
  background-color: #5e42b0;
  color: #ffffff;
}
.downloads .btn .btn-icon {
  fill: #ffffff;
}

/* HEADER */
.header {
  position: relative;
  height: 568px;
  background: #0a0e34;
  z-index: 0;
  letter-spacing: 0.05rem;
}
.header::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
}
.header * {
  z-index: 2;
}
.header .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
.header .logo {
  align-self: center;
}
.header .title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  color: #ffffff;
}
.header .title span:first-of-type {
  padding-left: 5%;
  padding-right: 20%;
  align-self: flex-start;
}
.header .title span:last-of-type {
  padding-left: 20%;
  padding-right: 5%;
  align-self: flex-end;
}

/* FOOTER */
.footer {
  position: relative;
  background: #0a0e34;
  z-index: 0;
  letter-spacing: 0.05rem;
}
.footer::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
}
.footer * {
  z-index: 2;
}
.footer .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer .title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .title-logo {
  background: #7751db; /* Old browsers */
  background: -moz-linear-gradient(top, #7751db 0%, #5e3db3 50%, #50329c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #7751db 0%,#5e3db3 50%,#50329c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #7751db 0%,#5e3db3 50%,#50329c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7751db', endColorstr='#50329c',GradientType=0 ); /* IE6-9 */
/*  background-image: linear-gradient(0, #50329c 0, #5e3db3 51%, #7751db 100%);*/
}
.footer .title-logo-icon {
  fill: #ffffff;
}
.footer .title-text {
  text-transform: uppercase;
}
.footer .title-text h2 {
  font-weight: bold;
  color: #ffffff;
}
.footer .title-text p {
  color: #a496ca;
}

/* ARTICLE */
.article .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}
.article.players .wrapper {
  overflow: hidden;
}
.article .title {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-grow: 1;
  color: #e7e7e7;
}
.article .list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-grow: 1;
  letter-spacing: 0.05rem;
}
.article .list.collaboration {
  background-color: #f5f4f9;
}
.article .list.growth {
  background-color: #5e42b0;
  color: #ffffff;
}
.article .list-prefix {
  position: relative;
  color: #000000;
}
.article .list-prefix::after {
  position: absolute;
  display: block;
  bottom: 0;
  height: 5px;
  width: 100%;
  background-color: #5e42b0;
  border-radius: 2px;
  content: "";
}
.article .list.growth .list-prefix::after {
  background-color: #ffffff;
}
.article .list-title {
  color: #c1c1c1;
  text-transform: uppercase;
}
.article .list-text {
  letter-spacing: 0.05rem;
}

/* ACTION */
.action .wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.action .image {
  flex-grow: 1;
}
.action .image img {
  width: 100%;
  height: 100%;
}
.action .description {
  flex-grow: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
}
.action .description-title {
  text-transform: uppercase;
}
.action .description-prefix {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #5e42b0;
}
.action .description-prefix span {
  position: relative;
  font-weight: bold;
  letter-spacing: 0.05rem;
  color: #f5f6f7;
}
.action .description-prefix span::after {
  position: absolute;
  display: block;
  bottom: 0;
  height: 5px;
  width: 100%;
  background-color: #ffffff;
  opacity: 0.3;
  border-radius: 2px;
  content: "";
}


@media (max-width: 640px) {
  /* COMMON */
  .downloads {
    flex-direction: column;
  }
  .downloads .btn {
    height: 36px;
    margin: 14px 20px 0 20px;
    border-radius: 18px;
    font-size: 8px;
  }
  .downloads .btn .btn-icon {
    height: 24px;
    margin-right: 10px;
  }
  .downloads .btn .btn-text {
    width: 100px;
  }

  /* HEADER */
  .header::before {
    background-image: url("../images/football_767.jpg");
  }
  .header .logo .logo-icon {
    height: 36px;
  }
  .header .title {
    font-size: 28px;
  }

  /* FOOTER */
  .footer {
    height: 568px;
  }
  .footer::before {
    background-image: url("../images/game_767.jpg");
  }
  .footer .title {
    flex-direction: column;
    margin-top: 100px;
  }
  .footer .title-logo {
    padding: 10px;
    border-radius: 14px;
  }
  .footer .title-logo-icon {
    height: 52px;
  }
  .footer .title-text {
    margin-top: 50px;
    text-align: center;
  }
  .footer .title-text h2 {
    font-size: 32px;
    letter-spacing: 0.1rem;
  }
  .footer .title-text p {
    font-size: 14px;
    letter-spacing: 0.05rem;
    color: #9b8ec1;
  }
  .footer .downloads {
    align-self: stretch;
  }
  .footer .copyright .copyright-icon {
    height: 36px;
    margin-bottom: 10px;
  }

  /* ARTICLE */
  .article .wrapper {
    min-height: 780px;
  }
  .article .title {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    font-size: 50px;
  }
  .article .image {
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }
  .article.athlets .image {
    margin-bottom: -55px;
  }
  .article.players .image {
    margin-bottom: -35px;
  }
  .article .list {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 54px;
    padding-bottom: 48px;
  }
  .article .list.connection {
    padding-top: 80px;
    background-color: #fafafa;
  }
  .article .list-prefix {
    padding-bottom: 3px;
    font-size: 14px;
    vertical-align: 7px;
  }
  .article .list-title {
    padding-bottom: 20px;
    font-size: 23px;
  }
  .article .list-text {
    font-size: 15px;
    line-height: 18px;
  }

  /* ACTION */
  .action .wrapper {
    flex-direction: column;
  }
  .action .image {
    width: 100%;
  }
  .action .description {
    padding-left: 20px;
    padding-right: 20px;
  }
  .action .description-title {
    margin-top: 33px;
    line-height: 34px;
    font-size: 28px;
    letter-spacing: 0.05rem;
    color: #e7e7e7;
  }
  .action .description-text {
    margin-top: 22px;
    margin-bottom: 78px;
    font-size: 16px;
    line-height: 20px;
  }
  .action .description-prefix {
    height: 70px;
    width: 70px;
    margin-top: -56px;
  }
  .action .description-prefix span {
    font-size: 14px;
    line-height: 34px;
  }
}


@media (min-width: 641px) and (max-width: 960px) {
  /* COMMON */
  .downloads .btn {
    height: 78px;
    width: 310px;
    margin: 0 15px;
    border-radius: 40px;
    font-size: 14px;
  }
  .downloads .btn .btn-icon {
    height: 44px;
    margin-right: 28px;
  }

  /* HEADER */
  .header {
    height: 960px;
  }
  .header::before {
    background-image: url("../images/football_1280.jpg");
  }
  .header .logo .logo-icon {
    height: 56px;
  }
  .header .title {
    font-size: 64px;
  }

  /* FOOTER */
  .footer {
    height: 960px;
  }
  .footer::before {
    background-image: url("../images/game_1280.jpg");
  }
  .footer .title {
    flex-direction: column;
    margin-top: 126px;
  }
  .footer .title-logo {
    padding: 20px;
    border-radius: 22px;
  }
  .footer .title-logo-icon {
    height: 84px;
  }
  .footer .title-text {
    margin-top: 82px;
    text-align: center;
  }
  .footer .title-text h2 {
    font-size: 80px;
    letter-spacing: 0.2rem;
    line-height: 60px;
  }
  .footer .title-text p {
    margin-top: 20px;
    font-size: 36px;
    line-height: 60px;
  }
  .footer .downloads {
    margin-top: auto;
    margin-bottom: 54px;
  }
  .footer .copyright .copyright-icon {
    height: 56px;
    margin-bottom: 24px;
  }

  /* ARTICLE */
  .article .wrapper {
    min-height: 768px;
  }
  .article .title {
    margin-top: 20px;
    font-size: 80px;
  }
  .article.athlets .title,
  .article.athlets .list {
    padding-left: 40%;
    padding-right: 4%;
  }
  .article.players .title,
  .article.players .list {
    padding-left: 4%;
    padding-right: 35%;
  }
  .article .image {
    position: absolute;
  }
  .article.athlets .image {
    right: 64%;
    top: 65px;
  }
  .article.players .image {
    left: 54%;
    top: 65px;
  }
  .article .list.connection {
    background-color: #ffffff;
  }
  .article .list-prefix {
    padding-bottom: 5px;
    font-size: 18px;
    vertical-align: 10px;
  }
  .article .list-title {
    font-size: 36px;
  }
  .article .list-text {
    font-size: 16px;
    line-height: 28px;
  }

  /* ACTION */
  .action .wrapper {
    flex-direction: column;
  }
  .action .image {
    width: 100%;
  }
  .action .description {
    padding-left: 32px;
    padding-right: 32px;
  }
  .action .description-title {
    margin-top: 80px;
    line-height: 80px;
    font-size: 80px;
    color: #c1c1c1;
  }
  .action .description-text {
    margin-top: 35px;
    margin-bottom: 100px;
    line-height: 28px;
    font-size: 24px;
    letter-spacing: 0.05rem;
  }
  .action .description-prefix {
    height: 116px;
    width: 116px;
    margin-top: -80px;
  }
  .action .description-prefix span {
    line-height: 40px;
    font-size: 24px;
  }
}


@media (min-width: 961px) {
  /* COMMON */
  .downloads .btn {
    height: 78px;
    width: 310px;
    margin: 0 25px;
    border-radius: 40px;
    font-size: 14px;
  }
  .downloads .btn .btn-icon {
    height: 48px;
    margin-right: 30px;
  }

  /* HEADER */
  .header {
    height: 960px;
  }
  .header::before {
    background-image: url("../images/football_1920.jpg");
  }
  .header .logo .logo-icon {
    height: 52px
  }
  .header .title {
    font-size: 90px;
  }

  /* FOOTER */
  .footer {
    height: 960px;
  }
  .footer::before {
    background-image: url("../images/game_1920.jpg");
  }
  .footer .title {
    margin-top: 230px;
  }
  .footer .title-logo {
    padding: 25px;
    border-radius: 26px;
  }
  .footer .title-logo-icon {
    height: 86px;
  }
  .footer .title-text {
    margin-left: 37px;
  }
  .footer .title-text h2 {
    font-size: 80px;
    letter-spacing: 0.2rem;
    line-height: 60px;
  }
  .footer .title-text p {
    margin-top: 20px;
    font-size: 30px;
    line-height: 34px;
  }
  .footer .copyright .copyright-icon {
    height: 52px;
    margin-bottom: 52px;
  }

  /* ARTICLE */
  .article .wrapper {
    min-height: 900px;
  }
  .article .title {
    margin-top: 118px;
    font-size: 80px;
  }
  .article.athlets .title,
  .article.athlets .list {
    padding-left: 50%;
    padding-right: 10%;
  }
  .article.players .title,
  .article.players .list {
    padding-left: 10%;
    padding-right: 50%;
  }
  .article .image {
    position: absolute;
  }
  .article.athlets .image {
    right: 54%;
    top: 25px;
  }
  .article.players .image {
    left: 45%;
    top: 25px;
  }
  .article .list.connection {
    background-color: #ffffff;
  }
  .article .list-prefix {
    padding-bottom: 5px;
    font-size: 18px;
    vertical-align: 10px;
  }
  .article .list-title {
    font-size: 36px;
  }
  .article .list-text {
    font-size: 20px;
  }

  /* ACTION */
  .action .image {
    min-width: 50%;
    flex-basis: 50%;
  }
  .action .description {
    flex-basis: 50%;
  }
  .action .description-title {
    margin-top: 180px;
    line-height: 80px;
    font-size: 80px;
    color: #c1c1c1;
  }
  .action .description-text {
    margin-top: 100px;
    margin-bottom: 1rem;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05rem;
  }
  .action .description-prefix {
    height: 168px;
    width: 168px;
    margin-top: 150px;
  }
  .action .description-prefix span {
    line-height: 40px;
    font-size: 24px;
  }
  .action:nth-of-type(even) .image {
    order: 2;
  }
  .action:nth-of-type(even) .description {
    order: 1;
  }
  .action:nth-of-type(even) .description-title,
  .action:nth-of-type(even) .description-text {
    padding-left: 5%;
    padding-right: 126px;
  }
  .action:nth-of-type(odd) .description-title,
  .action:nth-of-type(odd) .description-text {
    padding-left: 126px;
    padding-right: 5%;
  }
  .action:nth-of-type(even) .description-prefix {
    right: -84px;
  }
  .action:nth-of-type(odd) .description-prefix {
    left: -84px;
  }
}


@media (min-width: 1921px) {
  .wrapper {
    width: 1920px;
    margin: 0 auto;
  }
}
