@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.btn {
  display: flex;
  margin: 18px auto;
	color: #ffffff;
	border-radius: 20px;
	background-color: #5e42b0;	    
}
.btn-link {
  display: flex;
  align-items: center; 
  margin-left: 80px;  
}
.btn-txt  {
   text-transform: uppercase;
   color: white;
   margin-left: 10px;
   font-size: 8px; 
}
.btn-strong {
  font-weight: bold;
}

.btn-icon {
  fill: #ffffff;
  width: 24px; 
  height: 40px;    
}

@media (max-width: 320px) {
  body {
  display: flex;   
  flex-wrap: wrap;
  }

  .header {
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    background: url("../images/football_767.jpg") no-repeat;
    background-size: cover;
  }

  .header-content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;  
    padding-top: 40px;
    padding-bottom: 83px;
    padding-left: 20px;
    padding-right: 20px;  
    background-color: rgba(9, 12, 53, 0.8);
    text-transform: uppercase;
    color: #ffffff;
  }

  .header h1 {
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: 700;
  }

  article {
    width: 100%;
    background-color: #ffffff;     
  }
  .athlets div {
    padding: 10px 20px 0 20px;
  }

  .athlets {
    font-weight: bold;
  }
  
  .bg-img {       
    width: 100%;
    position: absolute;
    margin-top: 80px;
    margin-left: -10px;
    text-align: center;
  }
  
  .athlets h1 {
    margin-bottom: 235px;
    color: #e7e7e7;
    font-size: 50px;
    text-transform: uppercase;
  }
  
  .athlets h2 {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: #c1c1c1;
    font-size: 25px;
    text-transform: uppercase;
  }  

  .athlets span {
    margin-right: 10px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    border-bottom: solid 4px #5e42b0;
  }
  
    .athlets .white {
    border-color: #ffffff;
  }

  footer {
    width: 100%;
    background-color: #5DB148;  
  }
  
}

@media (min-width: 321px) and (max-width: 768px) {
  
}

@media (min-width: 769px) and (max-width: 1920px) {
  
}

@media (min-width: 1921px) {
  
}
