@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
}

hr{
	width: 150px;
	height: 2px;
	background-color: #2196F3;
	border: 0;
	margin-bottom: 80px;
}

body {
  display: flex;   
  flex-wrap: wrap;
}

header{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

article {
  display: block; /* IE fix */     
  background-color: #E2A3FF;
  width: 100%
}

footer {
  display: block; /* IE fix */     
  background-color: #5DB148;
  width: 100%
}
